<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div>
    List

    <button onclick="list_post()">LIST</button>

    <script>
        function list_post(){
            $.ajax({
                url: "/api/post/list",
                type: "GET",
                data: {},
                cache: false,
                success: (obj_data, status, xhr)=>{
                    alert(JSON.stringify(obj_data));
                },
                error: (obj_data, status, xhr)=>{
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }
    </script>


</div>
</body>
</html>