<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.winterspr.mapper.NoticeMapper">

	<!---->
	<select id="detail" parameterType="hashMap" resultType="com.thc.winterspr.dto.NoticeDto$DetailResDto">
		SELECT notice.id
			,notice.deleted
			,notice.process
			,notice.created_at as createdAt
			,notice.modified_at as modifiedAt

			,notice.title
			,notice.content
		FROM notice
		WHERE notice.id = #{id}
	</select>
	<select id="list" parameterType="hashMap" resultType="com.thc.winterspr.dto.NoticeDto$DetailResDto">
		SELECT notice.id
		FROM notice
		WHERE notice.id is not NULL
		<if test = "deleted != null">AND notice.deleted = #{deleted}</if>
		<if test = "title != null and title !=''">AND notice.title LIKE CONCAT('%', #{title}, '%')</if>
	</select>
	<!--
	1) 정확히 타이틀이랑 일치하는 결과를 원할 때!!
	<if test = "title != null and title !=''">AND notice.title = #{title}</if>
	2) 타이틀 검색어 를 포함하는 결과를 원할 때!!
	<if test = "title != null and title !=''">AND notice.title LIKE CONCAT('%', #{title}, '%')</if>
	-->

	<select id="pagedList" parameterType="hashMap" resultType="com.thc.winterspr.dto.NoticeDto$DetailResDto">
		SELECT notice.id
		FROM notice
		WHERE notice.id is not NULL
		<if test = "deleted != null">AND notice.deleted = #{deleted}</if>
		<if test = "title != null and title !=''">AND notice.title LIKE CONCAT('%', #{title}, '%')</if>
		LIMIT #{offset}, #{perpage}
	</select>
	<select id="pagedListCount" parameterType="hashMap" resultType="Integer">
		SELECT COUNT(notice.id) as listCount
		FROM notice
		WHERE notice.id is not NULL
		<if test = "deleted != null">AND notice.deleted = #{deleted}</if>
		<if test = "title != null and title !=''">AND notice.title LIKE CONCAT('%', #{title}, '%')</if>
	</select>

</mapper>